!!! 5
html
 head
  title MeSH Descriptor Data
  meta(charset="utf-8")
  link(rel="stylesheet")(href="../bootstrap/css/bootstrap.min.css")(type="text/css")
 body(style="padding-top:45px;")
  .navbar.navbar-fixed-top
   .navbar-inner
    .container.pull-left(style="padding-left:5px;")
     span.brand MeSH Descriptor Data
     a.btn.btn-small(href='../tree/#{DescriptorName.String}') Tree View
     span.divider-vertical
     a.btn.btn-small(href='../MBrowser/#{DescriptorUI}') Standard View
     span.divider-vertical
     a.btn.btn-small(href='../CBrowser/#{DescriptorUI}') Standard Concept View
     span.divider-vertical
     a.btn.btn-small(href='/')
      i.icon-home
  center
   table.table.table-bordered.table-condensed(style="width:98%")
    tr
     td(width="150")
      strong MeSH Heading
     td(colspan="3") #{DescriptorName.String}
    - if(zh && zh.String)
     tr
      td
       strong 主题词中译名
      td(colspan="3") #{zh.String}
    - for(var i = 0; i < TreeNumberList.length;i++)
     tr
      td
       strong Tree Number
      td(colspan="3")
       code(style="color:#000;")=TreeNumberList[i]
    - if(Annotation)
     tr
      td
       strong Annotation
      td(colspan="3")=Annotation
    - var rowspan = 0;
    - for(var i = 0; i < ConceptList.length; i++)
     rowspan = ConceptList[i].TermList.length*5+4;
     tr
      td(rowspan=rowspan)
       strong Concept #{i+1}
       - if(ConceptList[i].PreferredConceptYN == 'Y')
        p (Preferred)
       - if(ConceptList[i].PreferredConceptYN == 'N' && ConceptList[i].ConceptRelationList[0].RelationName == 'NRW')
        p (Narrower)
       - if(ConceptList[i].PreferredConceptYN == 'N' && ConceptList[i].ConceptRelationList[0].RelationName == 'BRD')
        p (Broader)
       - if(ConceptList[i].PreferredConceptYN == 'N' && ConceptList[i].ConceptRelationList[0].RelationName == 'REL')
        p (Related)
      td(colspan="3")=ConceptList[i].ConceptName.String
     tr
      td(width="100px;")
       strong Concept UI
      td(colspan="2")=ConceptList[i].ConceptUI
     tr
      td
       strong Scope Note
      td(colspan="2")=ConceptList[i].ScopeNote
     tr
      td
       strong Semantic Type
      td(colspan="2")=ConceptList[i].SemanticTypeList[0].SemanticTypeUI
       |(
       =ConceptList[i].SemanticTypeList[0].SemanticTypeName
       |)
     - for(var j = 0; j < ConceptList[i].TermList.length; j++)
      tr
       td(rowspan="5")
        strong Term
        - if(ConceptList[i].TermList[j].ConceptPreferredTermYN == 'Y')
         |(Preferred)
       td(colspan="2")=ConceptList[i].TermList[j].String
      tr
       td(width="100px;")
        strong Term UI
       td=ConceptList[i].TermList[j].TermUI
      tr
       td
        strong Date
       td
        - if(ConceptList[i].TermList[j].DateCreated)
         =ConceptList[i].TermList[j].DateCreated.Year
         |-
         =ConceptList[i].TermList[j].DateCreated.Month
         |-
         =ConceptList[i].TermList[j].DateCreated.Day
      tr
       td
        strong Lexical Tag
       td=ConceptList[i].TermList[j].LexicalTag
      tr
       td
        strong Thesaurus
       td=ConceptList[i].TermList[j].ThesaurusIDlist
    - if(SeeRelatedList && SeeRelatedList.length > 0)
     - for(var i = 0; i < SeeRelatedList.length; i++)
       tr
        td
         strong See Also
        td(colspan="3")
         a(href=SeeRelatedList[i].DescriptorReferredTo.DescriptorUI)=SeeRelatedList[i].DescriptorReferredTo.DescriptorName.String
    - if(AllowableQualifiersList && AllowableQualifiersList.length > 0)
       tr
        td
         strong Allowable Qualifiers
        td(colspan="3")
         - for(var i = 0; i < AllowableQualifiersList.length; i++)
          a(href='../qual/#{AllowableQualifiersList[i].Abbreviation}')=AllowableQualifiersList[i].Abbreviation
          &nbsp; 
    - if(PreviousIndexingList && PreviousIndexingList.length > 0)
     - for(var i = 0; i < PreviousIndexingList.length; i++)
      - var key = PreviousIndexingList[i].substring(0,PreviousIndexingList[i].lastIndexOf('('))
      - var year = PreviousIndexingList[i].substring(PreviousIndexingList[i].lastIndexOf('('))
       tr
         td
          strong Previous Indexing
         td(colspan="3")
           a(href=key)=key
           =year
    - if(HistoryNote)
       tr
         td
          strong History Note
         td(colspan="3")=HistoryNote
    - var entryVersion = '';
    - for(var i = 0; i < ConceptList.length; i++)
     - for(var j = 0; j < ConceptList[i].TermList.length; j++)
      - if(ConceptList[i].TermList[j].ConceptPreferredTermYN == 'Y' && ConceptList[i].TermList[j].RecordPreferredTermYN == 'Y')
       entryVersion = ConceptList[i].TermList[j].EntryVersion;
    - if(entryVersion)
     tr
      td
       strong Entry Version
      td(colspan="3")=entryVersion
    - if(DateCreated)
       tr
         td
          strong Date of Entry
         td(colspan="3")
          em=DateCreated.Year
           =DateCreated.Month
           =DateCreated.Day
    tr
     td
      strong Unique ID
     td(colspan="3")=DescriptorUI