!!! 5
html
 head
  title MeSH Qualifier Data 
  meta(charset="utf-8")
  link(rel="stylesheet")(href="../bootstrap/css/bootstrap.min.css")(type="text/css")
 body(style="padding-top:45px;")
  .navbar.navbar-fixed-top
   .navbar-inner
    .container.pull-left(style="padding-left:5px;")
     span.brand MeSH Qualifier Data
     a.btn.btn-small(href='javascript:history.go(-1)') Back
     span.divider-vertical
     a.btn.btn-small(href='/')
      i.icon-home
  center
   table.table.table-bordered(style="width:98%")
    tr
     td
      strong Subheading
     td #{QualifierName.String}
    tr
     td
      strong Record Type
     td Q
    - var entryVersion = '';
    - for(var i = 0; i < ConceptList.length; i++)
     - for(var j = 0; j < ConceptList[i].TermList.length; j++)
      - if(ConceptList[i].TermList[j].ConceptPreferredTermYN == 'Y' && ConceptList[i].TermList[j].RecordPreferredTermYN == 'Y')
       entryVersion = ConceptList[i].TermList[j].EntryVersion;
    - if(entryVersion)
     tr
      td
       strong Entry Version
      td=entryVersion
    - var abbreviation = '';
    - for(var i = 0; i < ConceptList.length; i++)
     - for(var j = 0; j < ConceptList[i].TermList.length; j++)
      - if(ConceptList[i].TermList[j].ConceptPreferredTermYN == 'Y' && ConceptList[i].TermList[j].RecordPreferredTermYN == 'Y')
       abbreviation = ConceptList[i].TermList[j].Abbreviation;
    - if(abbreviation)
     tr
      td
       strong Abbreviation
      td=abbreviation
    - var scopeNote = '';  
    - for(var i = 0; i < ConceptList.length; i++)
     scopeNote = scopeNote + (ConceptList[i].ScopeNote || '')
    - if(scopeNote)
     tr
      td
       strong Scope Note
      td=scopeNote
    - if(Annotation)
     tr
      td
       strong Annotation
      td=Annotation
    - if(OnlineNote)
       tr
        td
         strong Online Note
        td=OnlineNote
    - if(HistoryNote)
       tr
        td
         strong History Note
        td=HistoryNote
    - for(var i = 0; i < ConceptList.length; i++)
     - for(var j = 0; j < ConceptList[i].TermList.length; j++)
      - if(ConceptList[i].TermList[j].IsPermutedTermYN == 'N' && !(ConceptList[i].TermList[j].ConceptPreferredTermYN == 'Y' && ConceptList[i].TermList[j].RecordPreferredTermYN == 'Y'))
       tr
        td
         strong Entry Term
        td=ConceptList[i].TermList[j].String
    - if(DateCreated)
       tr
         td
          strong Date of Entry
         td
          em=DateCreated.Year
           =DateCreated.Month
           =DateCreated.Day
    - if(DateRevised)
       tr
         td
          strong Revision Date
         td
          em=DateRevised.Year
           =DateRevised.Month
           =DateRevised.Day
    - if(DateEstablished)
       tr
         td
          strong Date Established
         td
          em=DateEstablished.Year
           =DateEstablished.Month
           =DateEstablished.Day
    tr
     td
      strong Unique ID
     td=QualifierUI